{% extends 'base.html.twig' %}

{% block title %}Calculator Example - Use At Your Own Risk{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/calculator.js') }}"></script>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('show_calculator') }}">Calculator</a>
            </div>
            <div class="navbar-text">
                Example PHP 7.4/Symfony 5.1 code<br>
                Frontend isn't pretty, apologies :)
            </div>
        </div>
    </nav>
    <hr><br>
    <div class="container-fluid">
        <form name="calculator" class="form-row g-3">
            <div class="col-">
                <label for="first" class="col-form-label">First Num (a)</label>
                <input type="text" class="form-control" id="first" placeholder="0">
            </div>
            <div class="col-">
                <label for="operation" class="col-form-label">Operation</label>
                <select class="form-control" id="operation">
                    <option value="add">+</option>
                    <option value="subtract">-</option>
                    <option value="multiply">*</option>
                    <option value="divide">/</option>
                </select>
            </div>
            <div class="col-">
                <label for="second" class="col-form-label">Second Num (b)</label>
                <input type="text" class="form-control" id="second" placeholder="0">
            </div>
            <div class="col-">
                <label for="calculate" class="col-form-label">&nbsp;</label><br>
                <button class="btn btn-info" id="calculate">Calculate</button>
            </div>
            <div class="col-">
                <label for="result" class="col-form-label">Result</label><br>
                <output class="alert alert-success" id="result">Click Calculate</output>
            </div>
        </form>
    </div>
    <hr><br>
    <div class="blockquote-footer">
        I * was * going to do a calculator-type interface, but, honestly, I didn't have time. This is quick and dirty
        which, isn't great, I'll admit, but it was what I could do in the time allotted .. hope it's OK :)
    </div>
{% endblock %}
